.btn {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #ebd8ff;
  width: 169px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: #373737;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3.43693px 3.43693px,
    rgb(174, 123, 227) 0px -1.71846px 3.43693px inset,
    rgb(251, 248, 255) 0px 3.43693px 2.5777px inset;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3.43693px 3.43693px,
    rgba(8, 220, 157, 0.822) 0px -1.71846px 3.43693px inset,
    rgb(194, 5, 122) 0px 3.43693px 2.5777px inset;
}
