.wrap {
  position: relative;
  width: 380px;
  height: 460px;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  margin: 20px;
  border-radius: 10px;
  padding: 20px 0;
}
.images {
  border: 10px solid #ebd8ff;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3.43693px 3.43693px,
    rgb(174, 123, 227) 0px -1.71846px 3.43693px inset,
    rgb(251, 248, 255) 0px 3.43693px 2.5777px inset;
  border-radius: 60%;
  position: relative;
  top: -67px;
  left: 0;
}
.button {
  background-color: #ebd8ff;
  width: 169px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: #373737;
  font-size: 18px;
}
.line {
  width: 380px;
  height: 10px;
  content: "";
  background-color: #ebd8ff;
  position: absolute;
  top: 239px;
  left: 0;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3.43693px 3.43693px,
    rgb(174, 123, 227) 0px -1.71846px 3.43693px inset,
    rgb(251, 248, 255) 0px 3.43693px 2.5777px inset;
}

svg {
  position: absolute;
  top: 20px;
  left: 20px;
}
