.link {
  color: white;
  margin: 0;
  margin-top: 62px;
  margin-right: 1120px;
  position: absolute;
  top: 0;
  left: 20px;
  border: 1 px solid #ebd8ff;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 5px;
}
